@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    background-image: radial-gradient(#ececec 2px, transparent 2px);
    background-size: 10px 10px;
    background-color: #ffffff;
}